body {
  margin: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
  padding: 20px;
}

.splash-title {
  font-family: 'Carter One', cursive;
  font-size: 6.7rem;
  color: #333;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.subtitle {
  margin-top: -10px;
  font-family: 'Carter One', cursive;
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.splash-battleship-image {
  position: absolute;
  bottom: 1vh;
  left: 13vw;
  width: 89%;
  transform: rotateY(180deg);
  pointer-events: none;
  opacity: .25;
} 

.btn, .btn2 {
  font-size: inherit;
  background-color: hsl(42, 89%, 55%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: #333;
}

.mute-btn {
  background-color: hsl(42, 89%, 42%);  
  cursor: default;
}

.btn:hover, .btn:focus {
  background-color: hsl(42, 89%, 42%);
}



.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

#relysia-login {
  background-color: lightcyan;
}

#block2 {
  background-color: #daf7ed; 
  padding: 30px;
  border: 1px dotted grey;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
  margin-top: 20px;
}